@model Car
@{
    ViewData["Title"] = "Create";
}
<br/>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="text-center">
            <h3>
                Add New Car
            </h3>
        </div>

            <form asp-controller="Cars" asp-action="Create" method="post">
                <div class="form-row">
                    <label for="exampleInputEmail1">Brand</label>
                    <br/>
                    <input asp-for=Brand type="text" class="form-control m-2 p-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Brand">
                    <span asp-validation-for=Brand class="text-danger"></span>
                </div>
                <div class="form-row">
                    <label for="exampleInputEmail1">Name</label>
                    <br />
                    <input asp-for=Name type="text" class="form-control m-2 p-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    <span asp-validation-for=Brand class="text-danger"></span>
                </div>
                <div class="form-row">
                    <label for="exampleInputEmail1">Model</label>
                    <br />
                <input asp-for=Model type="number" min="1900" max="2024" step="1" class="form-control m-2 p-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Model">
                <span asp-validation-for=Model class="text-danger"></span>
                </div>
                
                <div class="form-row">
                    <label for="exampleInputEmail1">Counter</label>
                    <br />
                    <input asp-for=DrivingCounter type="number" class="form-control m-2 p-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter car counter">
                    <span asp-validation-for=DrivingCounter class="text-danger"></span>
                </div>
                <div class="form-row">
                    <label for="exampleInputEmail1">Price</label>
                    <br />
                    <input asp-for=Price type="number" class="form-control m-2 p-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter price">
                    <span asp-validation-for=Price class="text-danger"></span>
                </div>
                <div class="form-row">
                    <label for="inputState">Status</label>
                    <select asp-for=CarStatus id ="inputState" class="form-control">
                        <option disabled="disabled"  selected>Choose...</option>
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                    </select>
                </div>
                
                <br />
                <button type="submit" class="btn btn-primary">Save & Submit</button>
            </form>


    </div>
    <div class="col-2"></div>
</div>





